<div class="app-content">

  <h3>Coming soon...</h3>
  <p>
    We are working on a solution for users to upgrade from the free plan to be able to save and/or download reports in PDF format. Stay tuned!
  </p>
  <table class="table table-bordered">
    <tr>
      <td><a href="">Paper Street Property</a></td>
      <td><i class="fas fa-edit"></i></td>
      <td><i class="fas fa-trash-alt"></i></td>
    </td>
    <tr>
      <td><a href="">123 Main Street</a></td>
      <td><i class="fas fa-edit"></i></td>
      <td><i class="fas fa-trash-alt"></i></td>
    </td>
    <tr>
      <td><a href="">Red Duplex</a></td>
      <td><i class="fas fa-edit"></i></td>
      <td><i class="fas fa-trash-alt"></i></td>
    </td>
  </table>
</div>
